@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

.about {
  background-color: #0a2750;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.about__title {
  position: relative;
  padding-top: 100px;
  padding-left: 80px;
  max-width: 251px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  color: #ffffff;
  line-height: 52px;
}

.about__content {
  position: relative;
  align-items: flex-end;
  max-width: 660px;
  padding-top: 119px;
  padding-right: 80px;
  padding-bottom: 173px;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-bottom: 20px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.about__paragraph:last-child {
  padding-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -156px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation-name: pulsate;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}
