.card {
  max-width: 600px;
  min-width: 600px;
  margin-top: 0;
}

.card__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 32px;
}

.card__list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 16px;
}

.card__list-item:last-child {
  margin-bottom: 0px;
}

.card__list-divider {
  border-bottom: 1px solid #ffffff;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
}
