.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  display: flex;
  flex-direction: column;
}

.footer__content {
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 100px;
  padding-bottom: 108px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__social-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.footer__list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__social-link {
  color: #ffffff;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 60px;
  padding-left: 80px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
