.form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 385px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__label_type_checkbox {
  margin: auto;
}

.form__input {
  border-radius: 4px;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 30px;
  border: #838383 1px solid;
  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.form__button {
  /* default browser styles? */
  height: 60px;
  width: 100%;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  margin-bottom: 32px;
  font-weight: 500;
}

.form__button:hover {
  opacity: 70%;
  transition: smooth;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-right: 12px;
  vertical-align: bottom;
}
