.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title {
  margin-top: 202px;
  margin-bottom: 28px;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  display: block;
}

.header__description {
  position: relative;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 638px;
  margin-top: 0;
  margin-bottom: 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.header__paragraph-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 40px;
  width: 100%;
  left: 0;
  margin-top: auto;
  box-sizing: border-box;
  color: #6f6f6f;
}
