.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  color: #ffffff;

  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;

  justify-content: center;
  align-items: center;
  z-index: -1;
}

.menu__title {
  margin-top: 100px;
  max-width: 780px;
  /* font-family: Inter; */
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  position: relative;
  margin-top: 24px;
  max-width: 780px;

  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.card {
  list-style: none;
}

.card__title {
  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
}
