.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  color: #ffffff;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.menu__title {
  padding-top: 100px;
  max-width: 780px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  position: relative;
  margin-top: 24px;
  max-width: 780px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 100px;
}
