.recipes {
  background-color: #ffffff;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recipes__title {
  padding-top: 100px;
  padding-left: 80px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: auto;
  align-content: center;
  padding-top: 80px;
  padding-bottom: 215px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.recipes__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}
