.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.reservation__title {
  top: 100px;
  padding-top: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 0;
}


.reservation__form {
  padding-top: 80px;
  padding-bottom: 120px;
   max-width: 385px;
  margin: auto;
}
